Flask==3.0.3
flask-cors==5.0.1
groq==0.13.1
Jinja2==3.1.6
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-pygments==0.2.2
Keras==3.7.0
kiwisolver==1.4.5
Markdown==3.7
MarkupSafe==2.1.5
notebook==6.4.13
pandocfilters==1.5.1
pillow==9.0.0
python-dateutil==2.9.0
python-dotenv==1.0.1
requests==2.31.0
scikit-learn==1.6.0
scipy==1.14.1
Send2Trash==1.8.3
six==1.16.0
tensorboard==2.18.0
tensorflow
gunicorn
Werkzeug==3.0.4
